body{
    background-color: cornsilk;
}

.container-fluid{
    position: fixed;
    background-color: darkseagreen;
}
.context{
    padding-left: 200px;
    color: brown;
    font-weight: bolder;
    font-size: 55px;
}
.icon-bar{
    color:darkgreen;
    font-size: 30px;
    background-color:lightcyan ;
    border-style: ridge;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
#saved{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 3px 3px 5px white;
    font-size: 30px;
    background-color: burlywood;
}
.container{
     height:100px;
}
#explore{
    background-color: cornsilk;
    font-size: 100px;
    color:brown;
    font-family:Arial, Helvetica, sans-serif ;
}
#sign-up{
    background-color: cornsilk;
    color:brown;
    font-weight: lighter;
    font-size: 30px;
}

