body{
    background-color: cornsilk;
}

.container-fluid{
    position: fixed;
    background-color: darkseagreen;
}
.context{
    padding-left: 200px;
    color: brown;
    font-weight: bolder;
    font-size: 55px;
}
.icon-bar{
    color:darkgreen;
    font-size: 30px;
    background-color:lightcyan ;
    border-style: ridge;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
#saved{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 3px 3px 5px white;
    font-size: 30px;
    background-color: burlywood;
}
.container{
     height:100px;
}
#explore{
    background-color: cornsilk;
    font-size: 100px;
    color:brown;
    font-family:Arial, Helvetica, sans-serif ;
}
#signUp{
    background-color: cornsilk;
    color:brown;
    font-weight: lighter;
    font-size: 20px;
    padding-left: 500px;
}

#signup-container{
    box-shadow: 0px 0px 5px black;
    background-color: white;
    padding-left: 100px;
    width:500px;
    font-size:30px;
    font-weight:bolder;
}
#submit{
    background-color: darkslateblue;
    color:aliceblue;
    font-weight: bolder;
    width:370px;
    height: 30px;
    text-align: center;
}
a.btn{
   display: inline-block;           
    padding: 10px 20px;              
    background-color: #007BFF;       
    color: white;                    
    text-decoration: none;           
    border-radius: 5px;              
    font-family: Arial, sans-serif;  
    font-size: 16px;
    
}