.container-fluid{
    position: fixed;
    background-color: darkseagreen;
}
.context{
    padding-left: 200px;
}
.icon-bar{
    color:darkgreen;
    font-size: 30px;
    background-color:lightcyan ;
    border-style: ridge;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
#saved{
    background-color: burlywood;
}
.container{
     height:100px;
}
#explore{
    background-color: cornsilk;
    font-size: 100px;
    color:brown;
    font-family:Arial, Helvetica, sans-serif ;
}
